* {
  box-sizing: border-box;
}
.box {
  border: 4px solid gray;
  margin-bottom: 24px;
}

.container {
  border: 4px solid gray;
  padding: 24px 24px 0px 24px;

}
.box-large {
  width: 50%;
}
.box-wrapper {
  width: 50%;
  padding-right: 24px;
}
.box-small {
  height: 50px;
}
.box-tiny {
  width: 30%;
  height: 50px;
}
.box-wrapperr {
  display: flex;
  justify-content: space-between;
}
.row {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}